# !!! .env only for test local, so i will up public this file !!!
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/demo-realm

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

AUDIO_SAVE_PATH=